@font-face {
    font-family: 'Polar';
    src: url('./Polar-Black.woff2') format('woff2'),
        url('./Polar-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Polar';
    src: url('./Polar-Bold.woff2') format('woff2'),
        url('Polar-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Polar';
    src: url('Polar-Medium.woff2') format('woff2'),
        url('Polar-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Polar';
    src: url('Polar-SemiBold.woff2') format('woff2'),
        url('Polar-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Polar';
    src: url('Polar-Regular.woff2') format('woff2'),
        url('Polar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

